html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    border: 2px solid;
    position: absolute;
    bottom: 0;
}

.footer_content p {
    text-align: center;
}

.wrapper {
    height: 100%;
    position: relative;
}

.foodHeader{
    background-color: crimson;
}

.foodHeader h1 {
    text-align: center;
}

#questions {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#questions form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.userInput {
	height:auto;
    border: 2px solid;
}

.userInput form {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.userInput h2 {
    text-align: center;
}