html, body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: dimgrey;
    
}

.footer_content p {
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    position: relative;
}

.foodHeader h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#questions {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#questions form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.newinput {
	margin-left: 5px;	
}

#add {
	margin-left: 5px;		
}

#submit {
	margin-left: 20px;	
}
 
.join {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.userResult {
    height: 500px;
    background-color: burlywood;
    width: 40%;
    border: 2px solid;
    margin-left: auto;
}

.userResult h2 {
    text-align: center;
}

.userInput {
    height: 500px;
    background-color: burlywood;
    width: 40%;
    border: 2px solid;
    margin-right: auto;
}

.userInput input {
    width: 200px;
}

.userInput h2 {
    text-align: center;
}

header {
    background-color: dimgrey;
    text-align: center;
}

.block1 {
    background-color: burlywood;
    width: 40%;
    border: 2px solid;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.block1 h2 {
    padding: 1em;
    text-align: center;
}

.block1 form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav p {
    color: white;
    font-size: 20px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 7px;
    
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}